Facebook_Analytics.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>9cb8849e-015c-1000-f955-f821fc875c66</groupId>
  <name>Facebook Analytics</name>
  <snippet>
    <processGroups>
      <id>5aeb9aa2-7fe3-3ccd-0000-000000000000</id>
      <parentGroupId>41ddef48-ee8c-3137-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>80891862-5eb3-30db-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>7091cc47-6693-3692-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>7d5b96e0-437b-3446-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9866828f-d3eb-31f9-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>d6b7b0d2-7eec-324f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>5b0e6025-9cf3-3675-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9d06f62b-9e2c-36ce-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>3b2770db-ec71-3210-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>f6212a2b-1cf7-39e5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a247d7b0-355b-3179-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>6adb566b-0811-3eb3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>b0e52e45-fe6d-3d7b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>be5d9612-a264-3cab-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>c8e6b206-016d-3b59-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>04ea8c0b-da6c-37a6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>bf79c3aa-913e-37ec-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>a3d276c7-fd09-3870-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>7091cc47-6693-3692-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e54a89fc-d7ab-3ac0-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>b0e52e45-fe6d-3d7b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>c8e6b206-016d-3b59-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ed713812-30c4-3cf2-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>7d5b96e0-437b-3446-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>1316ae03-6265-33ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>11632dff-5026-39ea-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>1b1a910b-33fc-3f33-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>ccd48eee-5e8b-3fe8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>28a95ce2-8f19-3470-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>6b31b705-d8e2-318f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>58a4ca67-a6ec-3612-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>332da9fe-cb8c-3acb-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>5b0e6025-9cf3-3675-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>1b1a910b-33fc-3f33-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>34458ad2-f015-3757-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>f6212a2b-1cf7-39e5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Response</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>0a45470f-1353-3144-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>3a01c694-0171-30f1-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>0a45470f-1353-3144-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>6adb566b-0811-3eb3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>4c79cfd8-1cd8-3814-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>07170d52-7351-3784-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>d6b7b0d2-7eec-324f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>527c140b-11f0-3305-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>ccd48eee-5e8b-3fe8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>3b2770db-ec71-3210-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5eb15b8d-da51-3538-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>58a4ca67-a6ec-3612-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Response</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>0a45470f-1353-3144-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>62be6a83-51bc-3ee7-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>1316ae03-6265-33ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>6b31b705-d8e2-318f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>65477c05-9820-34b9-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>f02ef265-23bf-3fb8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</groupId>
            <id>07170d52-7351-3784-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>a3d276c7-fd09-3870-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>21.37206783157626</x>
            <y>-570.487297071237</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>Facebook</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>5 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>b0e52e45-fe6d-3d7b-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-1888.0143231917912</x>
            <y>-579.7554673652646</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                  <name>Maximum Capture Group Length</name>
                </value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                  <name>Enable Canonical Equivalence</name>
                </value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                  <name>Enable Case-insensitive Matching</name>
                </value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                  <name>Permit Whitespace and Comments in Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                  <name>Enable DOTALL Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                  <name>Enable Literal Parsing of the Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>
                  <name>Enable Multiline Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                  <name>Enable Unicode-aware Case Folding</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                  <name>Enable Unicode Predefined Character Classes</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                  <name>Enable Unix Lines Mode</name>
                </value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>
                  <name>Include Capture Group 0</name>
                </value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                  <name>extract-text-enable-repeating-capture-group</name>
                </value>
              </entry>
              <entry>
                <key>post_id</key>
                <value>
                  <name>post_id</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>false</value>
              </entry>
              <entry>
                <key>post_id</key>
                <value>^(.*?)$</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExtractText</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
          <id>c8e6b206-016d-3b59-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-1898.8778732165579</x>
            <y>-370.8843658991914</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>$.zhibo</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
          <id>ccd48eee-5e8b-3fe8-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-614.6905774434153</x>
            <y>278.2438498588542</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>}</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value></value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>d6b7b0d2-7eec-324f-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-447.48735301567353</x>
            <y>-148.7092970177123</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Defragment</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>20 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>f02ef265-23bf-3fb8-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>21.03185214859286</x>
            <y>-370.68691636444987</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>Facebook</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>5 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>f6212a2b-1cf7-39e5-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-869.535546327186</x>
            <y>-150.18470498121405</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>content</key>
                <value>
                  <name>content</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>content</key>
                <value>$.data[1].values[0]</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>04ea8c0b-da6c-37a6-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-1891.1738947638275</x>
            <y>-181.2731996842458</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>0B</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>{"zhibo":["10154025303363820","10154008520088820","10154006921863820","10153968189253820","10153888927983820","10153775265768820","10153757918448820","10153722509628820","10153681452303820","10153664795133820","10153633328343820","10153625984573820","10153604549768820","10153592269528820","10153585208143820","10153583438098820","10153580221498820","10153571696438820","10153568231773820","10153559889838820","10153558359613820","10153551158843820","10153536082443820","10153509324138820","10153477734868820"]}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>60 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Video ID's</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>07170d52-7351-3784-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-39.72363766136891</x>
            <y>-156.37148570042473</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>Reactions-${now()}.csv</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>0a45470f-1353-3144-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-995.1734159120729</x>
            <y>-387.3936635060793</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HTTP Method</key>
                <value>
                  <name>HTTP Method</name>
                </value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>
                  <name>Remote URL</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>
                  <name>Read Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>
                  <name>Include Date Header</name>
                </value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>
                  <name>Follow Redirects</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
                <value>
                  <name>Attributes to Send</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
                <value>
                  <name>Basic Authentication Username</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
                <value>
                  <name>Basic Authentication Password</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                  <name>invokehttp-proxy-user</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                  <name>invokehttp-proxy-password</name>
                </value>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                  <name>Put Response Body In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                  <name>Max Length To Put In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>
                  <name>Digest Authentication</name>
                </value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>
                  <name>Always Output Response</name>
                </value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
                <value>
                  <name>Trusted Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>
                  <name>Add Response Headers to Request</name>
                </value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>
                  <name>Content-Type</name>
                </value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>
                  <name>send-message-body</name>
                </value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>
                  <name>Use Chunked Encoding</name>
                </value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                  <name>Penalize on "No Retry"</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HTTP Method</key>
                <value>GET</value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>https://graph.facebook.com/v2.9/267920908819_${'post_id'}/insights?access_token=${'Authorization'}&amp;pretty=0&amp;since=${'start-date'}&amp;until=${'end-date'}&amp;metric=post_video_views,post_reactions_by_type_total&amp;period=day</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>application/x-www-form-urlencoded</value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>InvokeHTTP</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>No Retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Response</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Retry</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
          <id>1316ae03-6265-33ec-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-480.49992650347394</x>
            <y>-966.4769829658528</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>}</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value></value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>1b1a910b-33fc-3f33-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-117.72929662066144</x>
            <y>244.27776251754563</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>{"</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value></value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>3b2770db-ec71-3210-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-763.9221066971122</x>
            <y>36.16411609106524</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>{"value":</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>VideoID:, ${'post_id'},</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>58a4ca67-a6ec-3612-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-1006.6406488662485</x>
            <y>-718.0100605109992</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>content</key>
                <value>
                  <name>content</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>content</key>
                <value>$.data[0].values[0]</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>5b0e6025-9cf3-3675-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-59.62251561480207</x>
            <y>41.96386252364914</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>"</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value></value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>6adb566b-0811-3eb3-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-1451.7283626415272</x>
            <y>-385.64256529863894</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>Authorization</key>
                <value>
                  <name>Authorization</name>
                </value>
              </entry>
              <entry>
                <key>end-date</key>
                <value>
                  <name>end-date</name>
                </value>
              </entry>
              <entry>
                <key>start-date</key>
                <value>
                  <name>start-date</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>Authorization</key>
                <value>EAACEdEose0cBAIwYrogBRwcsgm1jqnzhnJzisDqJGiVBFVYkEhUc4FXiKBQCCcuHvfyP7Yf4FUk9clToF67EmH6qYIrwJt4rhZCE9kpSIaAnKCkumAIBeE5OBDZA1G6hoISw0gvitFeDZATMIH1E5grKZBPNNepNIjCNDnCPIPbVepsd36h6FY8l4wmFxoAZD</value>
              </entry>
              <entry>
                <key>end-date</key>
                <value>1494817200</value>
              </entry>
              <entry>
                <key>start-date</key>
                <value>1494734400</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Key and Date</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>6b31b705-d8e2-318f-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-874.4937619705497</x>
            <y>-966.7976377541496</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>{"value":</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>VideoID:, ${'post_id'}, Views: </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>7091cc47-6693-3692-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-134.73469456139333</x>
            <y>-722.9075193307958</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>Views-${now()}.csv</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>7d5b96e0-437b-3446-0000-000000000000</id>
          <parentGroupId>5aeb9aa2-7fe3-3ccd-0000-000000000000</parentGroupId>
          <position>
            <x>-542.4983946569089</x>
            <y>-722.580028371472</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Defragment</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>20 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
      </contents>
      <name>Facebook Analytics </name>
    </processGroups>
  </snippet>
  <timestamp>07/17/2017 10:41:41 EDT</timestamp>
</template>